body {
    background-color: #6ba3bc;
  }

  h1 {
    text-align: center;
    font-size: 60px;
    color: #a2d6e7;
    margin-top: 0px; /* Space at the top */
    margin-bottom: 40px; /* Space at the top */
    text-shadow: 3px 3px #0f4d61; /* Text shadow */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    text-align: center;
    font-size: 23px;
    color: #043c4e;
    margin-top: 0px; /* Space at the top */
    margin-bottom: 40 px; /* Space at the top */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    background-color: #6ba3bc;
    border: 2px solid #6ba3bc;
    cursor: pointer;
    font-size: 30px;
    color: #b8dce8;
    text-align: center;
    font-weight: bold; /* Made the text bold */
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Make the button a block element */
    margin-top: 20px;
    margin-bottom: 0px;
    text-shadow: 2px 2px #0f4d61; /* Text shadow */
    font-family: "Times New Roman", Times, serif;
  }

  .breathe-1 {
    position: relative;
  }

  .breathe-2 {
    position: relative;
  }

  .breathe-3 {
    position: relative;
  }

  canvas {
    margin-top: 100px; /* Space at the top */
    margin-bottom: 40px; /* Space at the top */
  }

  #infoBox {
    display: none;
    background-color: #a2d9ea;
    border: 1px solid #add2de;
    color: #367787;
    font-size: 18px;
    border-radius: 20px; /* Rounded corners */
    font-family: Arial, sans-serif; /* Set the font to Arial */
    padding: 30px;
    position: absolute;
    text-align: left;
    font-weight: bold; /* Made the text bold */
    top: 30%;
    right: 4%;
  }

  /* container for "breathing menu" */
  .breathing-button {
    padding: 15px 32px;
    text-decoration: none;
    margin: 0px 5px;
    margin-top: 100px;
    left: 4%;
    position: absolute;
  }

  #button-b1 {
    left: 36px;
    position: relative;
    background-color: #a2d9ea; /* Color */
    border: 2px solid #add2de;
    border-radius: 20px; /* Rounded corners */
    color: #367787;
    padding: 12px 29px;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
    font-weight: bold; /* Made the text bold */
    margin: 0 auto; /* Center the button horizontally */
    margin-top: 20px;
    margin-bottom: 0px;
    text-shadow: 0px 0px 0px #ffffff; /* Border around the text */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px; /* Space between the letters */
  }

  #button-b2 {
    left: -42px;
    position: relative;
    background-color: #a2d9ea; /* Color */
    border: 2px solid #add2de;
    border-radius: 20px; /* Rounded corners */
    color: #367787;
    padding: 12px 29px;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
    font-weight: bold; /* Made the text bold */
    margin: 0 auto; /* Center the button horizontally */
    margin-top: 20px;
    margin-bottom: 0px;
    text-shadow: 0px 0px 0px #ffffff; /* Border around the text */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px; /* Space between the letters */
  }

  #button-b3 {
    left: 8px;
    position: relative;
    background-color: #a2d9ea; /* Color */
    border: 2px solid #add2de;
    border-radius: 20px; /* Rounded corners */
    color: #367787;
    padding: 12px 29px;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
    font-weight: bold; /* Made the text bold */
    margin: 0 auto; /* Center the button horizontally */
    margin-top: 20px;
    margin-bottom: 0px;
    text-shadow: 0px 0px 0px #ffffff; /* Border around the text */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px; /* Space between the letters */
  }

  /* start-button for square breathing*/
  #button {
    background-color: #a2d9ea; /* Color */
    border: 2px solid #add2de;
    border-radius: 20px; /* Rounded corners */
    color: #367787;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 5px;
    cursor: pointer;
    letter-spacing: 2px; /* Space between the letters */
    font-weight: bold; /* Made the text bold */
    font-size: 20px;
    font-family: Arial, sans-serif; /* Set the font to Arial */
    text-shadow: 0px 0px 0px #ffffff; /* Border around the text */
    margin-top: 60px;
  }

  /* infobox button for square breathing */
  #buttoni {
    background-color: #a2d9ea; /* Color */
    border: 2px solid #add2de;
    border-radius: 30px; /* Rounded corners */
    color: #367787;
    padding: 10px 18px;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 0px 5px;
    cursor: pointer;
    letter-spacing: 2px; /* Space between the letters */
    font-weight: bold; /* Made the text bold */
    font-size: 20px;
    font-family: Arial, sans-serif; /* Set the font to Arial */
    text-shadow: 0px 0px 1px #367787; /* Border around the text */
    margin-top: 60px;
  }

  /* css for square breathing */
  #square {
    width: 400px;
    height: 400px;
    border: 2px solid #6ba3bc;
    position: relative;
  }

  #realSquare {
    width: 350px;
    height: 350px;
    border: 5px solid #b8dce8;
    position: relative;
    margin-top: 25;
    border-radius: 25px; /* Rounded corners */
  }

  #text {
    color: #0a6e87;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    letter-spacing: 2px; /* Space between the letters */
    font-weight: bold; /* Made the text bold */
    font-family: Arial, sans-serif; /* Set the font to Arial */
    text-shadow: 0px 0px 0px #ffffff; /* Border around the text */
    margin-top: 165;
    margin-bottom: 159px;
  }

  #ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b8dce8;
    position: absolute;
    top: 355px;
    left: 0px;
  }
  #closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }

  .gb {
    background-color: #a2d9ea; /* Color */
    border: 2px solid #add2de;
    border-radius: 20px; /* Rounded corners */
    color: #367787;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 5px;
    cursor: pointer;
    letter-spacing: 2px; /* Space between the letters */
    font-weight: bold; /* Made the text bold */
    font-size: 18px;
    font-family: Arial, sans-serif; /* Set the font to Arial */
    text-shadow: 0px 0px 0px #ffffff; /* Border around the text */
    margin-top: 60px;
    display: inline !important;
  }

