body {
    background-color: #6ba3bc;
}

.video-player-container {
    display: flex;
    justify-content: center;
    width: 900px;
    background-color: black;
    margin: 0 auto;
}

.video-gallery .current-video iframe{
    margin-top: 50px;
    scale: 120%;
}

.gallery-container {
    display: flex;
    overflow-x: auto;

}